$primary: #978D4f !default;
$secondary: #C58E4D !default;
$success: #14a44d !default;
$danger: #dc4c64 !default;
$warning: #e4a11b !default;
$info: #54b4d3 !default;
$light: #E7DFAE !default;
$dark: #4B3414 !default;