$primary: #0D264D !default;
$secondary: #FD016E !default;
$success: #14a44d !default;
$danger: #dc4c64 !default;
$warning: #e4a11b !default;
$info: #54b4d3 !default;
$light: #D5E5F8 !default;
$dark: #4B3414 !default;